<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", tarefas_path  %></li>
      <li><%= link_to "Novo", new_tarefa_path %></li>
      <li><%= link_to 'Imprimir', impressao_path %></li>
    </ul>
  </div>

  <div class="content">
    <h2 class="title">Tarefas</h2>

    <div class="inner">

      <table class="table">
        <tr>
          <th class="first">Código</th>
          <th>Projeto</th>
          <th>Cliente</th>
          <th>Emissão</th>
          <th>Entrega</th>
          <th>Solicitação</th>
          <th>Status</th>
          <th style="width: 130px">&nbsp;</th>
        </tr>

        <% @tarefas.each do |tarefa| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= tarefa.id %></td>
          <% if tarefa.projeto.present? %>
            <td><%= tarefa.projeto.nome.titleize %></td>
          <% else %>
            <td> </td>
          <% end %>
          <td><%= tarefa.cliente.nome.titleize %></td>
          <td><%= l tarefa.emissao %></td>
          <td><%= l tarefa.entrega %></td>
          <td><%= truncate tarefa.solicitacao, length: 30 %></td>
          <td style="width: 90px"><%= tarefa.status_nome %></td>

          <td class="last">
            <% if tarefa.aberta? %>
              <%= link_to image_tag("iniciar.png", alt: "Iniciar", title: "Iniciar"), tarefa_iniciar_path(tarefa), confirm: 'Esta ação dará inicio a execução desta tarefa. Já verificou todas as etapas? Você realmente deseja prosseguir?' %>
            <% elsif tarefa.em_andamento? %>
              <%= image_tag("iniciar_d.png", alt: "Iniciar", title: "Iniciar") %>
            <% else %>
              <%= image_tag("concluido.png", alt: "Concluído", title: "Concluído") %>
            <% end %>

            <%= link_to image_tag("etapas.png", alt: "Etapas", title: "Etapas"), tarefa_tarefa_etapas_path(tarefa) %>
            <%= link_to image_tag("horas.png", alt: "Horas", title: "Horas"), tarefa_tarefa_horas_path(tarefa) %>
            <%= link_to image_tag("anexos.png", alt: "Anexos", title: "Anexos"), tarefa_tarefa_anexos_path(tarefa) %>
            <%= link_to image_tag("consultar.png", alt: "Consultar", title: "Consultar"), tarefa %>

            <% if tarefa.aberta? or tarefa.em_andamento? %>
              <%= link_to image_tag("editar.png", alt: "Editar", title: "Editar"), edit_tarefa_path(tarefa) %>
              <%= link_to image_tag("excluir.png", alt: "Excluir", title: "Excluir"), tarefa, confirm: 'Você realmente deseja excluir esta tarefa?', method: :delete %>
            <% else %>
              <%= image_tag("editar_d.png", alt: "Editar", title: "Editar") %>
              <%= image_tag("excluir_d.png", alt: "Excluir", title: "Excluir") %>
            <% end %>
              
          </td>
        </tr>
        <% end %>
        
      </table>

      <div class="actions-bar wat-cf">
        <div class="actions"> </div>
        <%= will_paginate @tarefas %>
      </div>

    </div>
  </div>
</div>

<%= render 'pesquisa' %>

<% content_for :sidebar, render(partial: 'sidebar') %>
