<div class="block">
  <div class="content">
    <h2 class="title">Pesquisa</h2>
    <div class="inner">

    <%= form_tag projetos_path, method: :get, class: :form do %>

      <div>
        <div class="group" style="float:left; width: 270px;">
          <%= label_tag "", "Nome", class: :label %>
          <%= search_field_tag 'snome', nil, placeholder: 'Digite o nome a ser pesquisado...', style: 'width: 250px;'%>
        </div>

        <div class="group" style="float:left; width: 130px;">
          <%= label_tag "", "Status", class: :label %>
          <%= select_tag "sstatus", options_for_select([["Todos", ""], ["Aberta", "A"], ["Em andamento", "E"], ["Concluída", "C"]])%>
        </div>

        <div class="group">
          <%= label_tag "", "Cliente", class: :label %>
          <%= select_tag "scliente", options_from_collection_for_select(@clientes, :id, :nome), prompt: 'Todos' %>
        </div>
      </div>

      <div class="group navform wat-cf">
        <button class="button" type="submit">
          <%= image_tag("pesquisar.png") %> Pesquisar
        </button>
      </div>

    <% end %>

    </div>
  </div>
</div>