<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", projetos_path %></li>
      <li><%= link_to "Novo", new_projeto_path %></li>
      <li><%= link_to "Painel", painel_projetos_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Projetos</h2>
    <div class="inner">
      
      <table class="table">
        <tr>
          <th class="first">Código</th>
          <th>Nome</th>
          <th>Cliente</th>
          <th>Inicio</th>
          <th>Prev. Término</th>
          <th>Fim</th>
          <th>Status</th>
          <th style="width: 100px">&nbsp;</th>
        </tr>
        <% @projetos.each do |projeto| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td align="center"><%= projeto.id %></td>
            <td><%= projeto.nome.titleize %></td>
            <td><%= projeto.cliente.nome.titleize %></td>
            <td><%= projeto.inicio.try :strftime, "%d/%m/%Y" %></td>
            <td><%= projeto.previsao_fim.try :strftime, "%d/%m/%Y" %></td>
            <td><%= projeto.fim.try :strftime, "%d/%m/%Y" %></td>
            <td><%= projeto.status_nome %></td>

           <td class="last">
              <%= link_to image_tag("consultar.png", alt: "Consultar", title: "Consultar"), projeto_path(projeto) %>
              <% if projeto.concluido? %>
                <%= image_tag("editar_d.png", alt: "Editar", title: "Editar") %>
                <%= image_tag("excluir_d.png", alt: "Excluir", title: "Excluir") %>
                <%= image_tag("iniciar_d.png", alt: "Iniciar", title: "Iniciar") %>
                <%= image_tag("concluido.png", alt: "Concluído", title: "Concluído") %>
              <% else %>
                <%= link_to image_tag("editar.png", alt: "Editar", title: "Editar"),
                  edit_projeto_path(projeto) %>
                <%= link_to image_tag("excluir.png", alt: "Excluir", title: "Excluir"),
                  projeto_path(projeto), method: :delete,
                  confirm: 'Você realmente deseja excluir este projeto?' %>
                <% if projeto.aberto? %>
                  <%= link_to image_tag("iniciar.png", alt: "Iniciar", title: "Iniciar"),
                    projeto_iniciar_path(projeto), confirm: 'Você realmente deseja iniciar este projeto agora?' %>
                  <%= image_tag("concluir_d.png", alt: "Concluir", title: "Concluir") %>
                <% else %>
                  <%= image_tag("iniciar_d.png", alt: "Iniciar", title: "Iniciar") %>
                  <%= link_to image_tag("concluir.png", alt: "Concluir", title: "Concluir"),
                    projeto_concluir_path(projeto), confirm: 'Confirmar a conclusão deste projeto?' %>
                <% end %>
              <% end %>

            </td>
          </tr>
        <% end %>
      </table>

      <div class="actions-bar wat-cf">
        <div class="actions"> </div>
        <%= will_paginate @projetos %>
      </div>

    </div>
  </div>
</div>

<%= render 'pesquisa' %>

<% content_for :sidebar, render(partial: 'sidebar') %>
