<div class="block">
  <div class="content">
    <h2 class="title">04 - Etapas pendentes por técnico</h2>
    <div class="inner">

    <%= form_tag executar_04_path, class: :form do %>

      <div class="group">
        <%= label_tag "", "Emissão Inicio", class: :label %>
        <%= date_select("inicio", "data", options = {
          order: [:day, :month, :year],
          start_year: 2012,
          end_year: Time.now.year}) %>
      </div>

      <div class="group">
        <%= label_tag "", "Emissão Fim", class: :label %>
        <%= date_select("fim", "data", options = {
          order: [:day, :month, :year],
          start_year: 2012,
          end_year: Time.now.year}) %>
      </div>

       <div class="group">
        <%= label_tag "", "Técnico", class: :label %>
        <%= select_tag "tecnico", options_from_collection_for_select(@tecnicos_gerente, :id, :nome_completo), prompt: 'Todos' %>
      </div>

      <div class="group">
        <%= label_tag "", "Cliente", class: :label %>
        <%= select_tag "cliente", options_from_collection_for_select(@clientes, :id, :nome), prompt: 'Todos' %>
      </div>

      <div class="group">
        <%= label_tag "", "Serviço", class: :label %>
        <%= select_tag "servico", options_from_collection_for_select(@servicos, :id, :nome), prompt: 'Todos' %>
      </div>

      <div class="wat-cf">
        <%= link_to image_tag("voltar.png", alt: "Voltar") + " Voltar", relatorios_path, class: "text_button_padding button" %>
        <button class="button" type="submit">
          <%= image_tag("rel.png", alt: "Gerar") %> Gerar
        </button>
      </div>

    <% end %>

    </div>
  </div>
</div>