<div class="block">
  <div class="content">
    <h2 class="title">03 - Número de tarefas por cliente</h2>
    <div class="inner">

      <b>Período:</b> <%= l @data_inicio %> até <%= l @data_fim %><br />
      <b>Responsável:</b> <%= @tecnico_nome %><br />
      <b>Solicitante:</b> <%= @cliente_nome %><br />
      <b>Serviço:</b> <%= @servico_nome %>
      <br />
      <br />
      
      <table class="table">
        <tr>
          <th class="first" style="width: 200px">Cliente</th>
          <th>No período</th>
          <th>Há um mês</th>
          <th>Há um ano</th>
        </tr>

        <% total_atual = 0 %>
        <% total_mes_ant = 0 %>
        <% total_ano_ant = 0 %>
        <% @tarefas.each do |tarefa| %>
          <tr class="<%= cycle("odd", "even") %>">
            <td><%= tarefa[0].titleize %></td>
            <td><%= tarefa[1] %></td>
            <td><%= tarefa[2] %></td>
            <td><%= tarefa[3] %></td>
          </tr>
          <% total_atual += tarefa[1] %>
          <% total_mes_ant += tarefa[2] %>
          <% total_ano_ant += tarefa[3] %>
        <% end %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><b>Total</b></td>
          <td><b><%= total_atual %></b></td>
          <td><b><%= total_mes_ant %></b></td>
          <td><b><%= total_ano_ant %></b></td>
        </tr>
      </table>

      <hr />
      <br />
      <% if @graf_no_periodo.present? %>
        <%= image_tag @graf_no_periodo %>
      <% end %>
      <% if @graf_ha_um_mes.present? %>
        <%= image_tag @graf_ha_um_mes %>
      <% end %>
      <% if @graf_ha_um_ano.present? %>
        <%= image_tag @graf_ha_um_ano %>
      <% end %>

      <div class="wat-cf">
        <%= link_to image_tag("voltar.png", alt: "Voltar") + " Voltar", index_03_path, class: "text_button_padding button" %>
      </div>

    </div>
  </div>
</div>
