<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Lista", pessoas_path %></li>
      <li><%= link_to "Novo", new_pessoa_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Clientes</h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first"></th>
          <th>Código</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>E-mail</th>
          <th style="width: 100px">&nbsp;</th>
        </tr>
        <% @pessoas.each do |pessoa| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= gravatar_image_tag pessoa.email %></td>
          <td align="center"><%= pessoa.id %></td>
          <td><%= link_to pessoa.nome.titleize, pessoa_path(pessoa) %></td>
          <td><%= pessoa.telefone %></td>
          <td><%= pessoa.email %></td>
          <td class="last">
            <%= link_to image_tag("consultar.png", alt: "Consultar", title: "Consultar"), pessoa %>
            <%= link_to image_tag("editar.png", alt: "Editar", title: "Editar"), edit_pessoa_path(pessoa) %>
            <%= link_to image_tag("excluir.png", alt: "Excluir", title: "Excluir"), pessoa, confirm: 'Você realmente deseja excluir este cliente?', method: :delete %>
          </td>
        </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <%= will_paginate @pessoas  %>
      </div>
    </div>
  </div>
</div>

<%= render 'pesquisa' %>

<% content_for :sidebar, render(partial: 'sidebar') %>
