<div class="block notice">
  <h4>Lembretes do Técnico</h4>
  <p>* Atualizar clientes ERP com a versão 5</p>
  <p>* Agendar treinamento para o cliente Ldta.</p>
  <p>* Trocar o Firebird 1.5 pelo Firebird 2.5</p>
  <p>* Cadastrar horas trabalhadas</p>
</div>

<div class="block">
  <h3>Links Úteis</h3>
  <ul class="navigation">
    <li><%= link_to "Portal Asseinfo", "http://www.asseinfo.com.br/portal/", target: "_blank" %></li>
    <li><%= link_to "Google Agenda", "https://www.google.com/calendar/render", target: "_blank" %></li>
    <li><%= link_to "Wiki Asseinfo", "http://www.asseinfo.com.br/wiki/", target: "_blank" %></li>
    <li><%= link_to "Web Mail", "http://webmail.asseinfo.com.br", target: "_blank" %></li>
    <li><%= link_to "Logmein", "https://secure.logmein.com/BR/", target: "_blank" %></li>
    <li><%= link_to "IBGE - Cidades", "http://www.ibge.gov.br/cidadesat/topwindow.htm?1", target: "_blank" %></li>
    <li><%= link_to "SEFAZ", "https://nfe.sefaz.rs.gov.br/ws/NfeConsulta/NfeConsulta2.asmx", target: "_blank" %></li>
  </ul>
</div>

<div class="block notice">
  <h3>Telefones Úteis</h3>
  <div class="content">
    <p>Base - (48) 9934-2882</p>
    <p>Suporte - (48) 8424-2720</p>
    <p>Treinamento 1 - (48) 8433-0640</p>
    <p>Treinamento 2 - (48) 9904-9378</p>
    <p>Vendas - (48) 9906-0292</p>
    <p>Financeiro - (48) 8407-3646 </p>
    <p>Diretoria - (48) 8428-2979</p>
  </div>
</div>
