<h1>Help Desk</h1>
<div class="block" id="block-login">
  <h2>Autenticação</h2>
  <div class="content login">

    <% if flash[:alert] %>
      <div class="flash">
        <div class="message warning">
          <p><%= flash[:alert] %></p>
        </div>
      </div>
    <% end %>

    <br />

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form login"}) do |f| %>

      <div class="group wat-cf">
        <div class="left">
          <%= f.label :email, "E-mail", class: "label right" %>
        </div>
        <div class="right">
          <%= f.text_field :email, class: :text_field %>
        </div>
      </div>

      <div class="group wat-cf">
        <div class="left">
          <%= f.label :password, "Senha", class: "label right" %>
        </div>
        <div class="right">
          <%= f.password_field :password, class: :text_field %>
        </div>
      </div>

      <div class="group wat-cf">
        <div class="right">
          <% if devise_mapping.rememberable? %>
            <p><%= f.check_box :remember_me %> <%= f.label :remember_me, "Lembrar-me"%></p>
          <% end %>
        </div>
      </div>

      <div class="group navform wat-cf">
        <div class="right">
          <button class="button" type="submit">
            <%= image_tag("key.png", alt: "Entrar") %> Entrar
          </button>

          <%= link_to "Esqueci minha senha", new_password_path(resource_name), class: "text_button_padding link_button" %>

        </div>
      </div>

    <% end %>

  </div>
</div>